main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex-grow: 1;
}

footer {
    position: sticky;
    bottom: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@container (min-width: 640px) {
    main {
        padding: 0 4rem;
    }
}

@container (min-width: 768px) {
    main {
        padding: 0 8rem;
    }
}

@container (min-width: 1024px) {
    main {
        padding: 0 12rem;
    }
}

@container (min-width: 1280px) {
    main {
        padding: 0 14rem;
    }
}

@container (min-width: 1536px) {
    main {
        padding: 0 18rem;
    }
}
