
main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    flex-grow: 1;
}

@media screen and  (min-width: 640px) {
    main {
        padding: 0 4rem;
    }
}

@media screen and  (min-width: 768px) {
    main {
        padding: 0 8rem;
    }
}

@media screen and  (min-width: 1024px) {
    main {
        padding: 0 12rem;
    }
}

@media screen and  (min-width: 1280px) {
    main {
        padding: 0 14rem;
    }
}

@media screen and  (min-width: 1536px) {
    main {
        padding: 0 18rem;
    }
}