---
import Footer from "../components/footer.astro";
import NavBar from "../components/nav-bar.astro";
import { ViewTransitions } from "astro:transitions";
import "photoswipe/style.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="overflow-x-hidden">
		<NavBar />
		<slot />

		<Footer />

		<script>
			import PhotoSwipe from "photoswipe";
			import PhotoSwipeLightbox from "photoswipe/lightbox";
			import "photoswipe/style.css";

			document.addEventListener("astro:page-load", () => {
				const lightbox = new PhotoSwipeLightbox({
					gallery: "#my-gallery",
					children: "#wallpapers",
					pswpModule: PhotoSwipe,
				});

				/**
				 * Download button
				 * docs -> https://photoswipe.com/adding-ui-elements/#adding-download-button
				 */

				lightbox.on("uiRegister", function () {
					//@ts-ignore
					lightbox.pswp.ui.registerElement({
						name: "download-button",
						order: 8,
						isButton: true,
						tagName: "a",

						// SVG with outline
						html: {
							isCustomSVG: true,
							inner:
								'<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
							outlineID: "pswp__icn-download",
						},

						onInit: (el, pswp) => {
							el.setAttribute("download", "");
							el.setAttribute("target", "_blank");
							el.setAttribute("rel", "noopener");

							pswp.on("change", () => {
								console.log("change");
								//@ts-ignore
								el.href = pswp.currSlide.data.src;
							});
						},
					});
				});

				lightbox.init();
			});
		</script>

		<script>
			document.addEventListener("astro:page-load", () => {
				setTimeout(() => {
					const $wallpapers = document.querySelectorAll("#wallpapers");

					$wallpapers.forEach((item) => {
						const $image = item.firstElementChild;

						// @ts-ignore
						const { naturalWidth, naturalHeight } = $image;

						item.setAttribute("data-pswp-width", naturalWidth);
						item.setAttribute("data-pswp-height", naturalHeight);
					});
				}, 1000);
			});
		</script>

		<style is:global>
			/* Firefox */
			* {
				scrollbar-width: auto;
				scrollbar-color: #e7dba8 #282828;
			}

			/* Other browsers */
			*::-webkit-scrollbar {
				width: 13px;
			}

			*::-webkit-scrollbar-track {
				background: #282828;
			}

			*::-webkit-scrollbar-thumb {
				background-color: #e7dba8;
				border-radius: 0px;
				border: 1px none #000000;
			}

			:root {
				color-scheme: light dark;
				--bg-color: #282828;
			}
			body {
				background-color: var(--bg-color);
			}
		</style>
	</body>
</html>
