---
import Layout from "@layouts/Layout.astro";
---

<main
  class="flex flex-col gap-4 items-center justify-center h-dvh bg-[#282828]"
>
  <h2 class="text-4xl font-bold uppercase">Page not found</h2>

  <a
    href="/"
    class="border duration-300 border-[#695c51] hover:border-[#eadbad] py-1 px-4 rounded-2xl text-[#eadbad]"
    >Go to home</a
  >
</main>

<style>
  h2 {
    -webkit-text-fill-color: #282828;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eadbad;
  }
</style>
