<footer class="flex items-center justify-center text-[#e7dba8] h-10 gap-1">
  <span>Contributions!!</span>
  <a href="#" class="hover:underline underline-offset-4" target="_blank"
    >here.</a
  >
</footer>
