---
import { getWallpapers } from "@services/get-wallpapers";
import GalleryGrid from "../../components/gallery-grid.astro";
import Layout from "../../layouts/Layout.astro";
import type { Gallery } from "src/types";

const { category: currentCategory } = Astro.params;

const { wallpapers, category } = (await getWallpapers({
  category: currentCategory ?? "",
})) as Gallery;
---

<Layout title={`wallpapers - ${category}`}>
  <main>
    <h2 class="py-4 text-center text-4xl font-bold">
      Wallpapers
      {category}
    </h2>

    <GalleryGrid gallery={wallpapers} />
  </main>
</Layout>
